body {
    color: #c20000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #d1cfcf;
    margin: 0 auto;
}

.container h1 {
    font-size: 20px;
}

.cabecera {
    background: #64008b;
    color: white;
    margin: 0;
    padding: 0.5em;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
}

.cabecera span {
    font-size: 20px;
    font-weight: normal;
}

.footer {
    background: #64008b;
    padding: 0.5em;
    text-align: center;
}